* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #888;
    height: 60px;
    width: 100%;
    top: 0;
    position: relative;
    display: flex;
}
header img{
    background-color: teal;
    width: 20%;
    height: 60px;
}
nav{
    background-color:darkorange;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    height: 60px;
}
nav a:hover{
    background-color: #000;
    opacity: 0.5;
    color:#fff;
}
main {
    background-color: #555;
    display: flex;
}
section {
    background-color: #666;
    width: 80%;
    padding-top: 60px;
    min-height: 800px;
}
aside {
    background-color: #777;
    width: 20%;
    padding-top: 60px;
    min-height: 800px;
}

footer {
    background-color: #222;
    height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
